{deps, [
          {lager, "2.*", {git, "git://github.com/basho/lager.git", {tag, "2.x"}}},
          {cuttlefish, ".*", {git, "git://github.com/basho/cuttlefish.git", {branch, "develop"}}},
          {riak_kv, ".*", {git, "git://github.com/basho/riak_kv.git", {branch, "end-to-end/timeseries"}}}
       ]}.
{erl_opts, [{parse_transform, lager_transform}]}.

{xref_checks, []}.
{xref_queries, [{"(XC - UC) || (XU - X - B - \"(riak_core_util|riak_core_stat|riak_kv_stat)\" : Mod)", []}]}.

{compile_post_script, "make -C java_src"}.
{clean_post_script, "make -C java_src clean"}.
