%% -*- erlang -*-

{erl_opts, [
    warnings_as_errors,
    {parse_transform, lager_transform}
]}.
{deps, [
    {cuttlefish, ".*", {git, "git://github.com/basho/cuttlefish.git", {branch, "feature/otp-17"}}},
    {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "feature/otp-17"}}},
    {riak_kv, ".*", {git, "git://github.com/basho/riak_kv.git", {branch, "feature/otp-17"}}}
]}.

{xref_checks, []}.
{xref_queries, [{"(XC - UC) || (XU - X - B - \"(riak_core_util|riak_core_stat|riak_kv_stat)\" : Mod)", []}]}.

{compile_post_script, "make -C java_src"}.
{clean_post_script, "make -C java_src clean"}.
